[mysqld]
user = mysql
basedir = /usr/local/mysql
datadir = /var/lib/mysql
socket = /var/run/mysqld/mysqld.sock
pid-file = mysqld.pid
port = 3306
log_error = error.log

#performance_schema

autocommit = 1
character-set-server = utf8
lower_case_table_names = 0
transaction-isolation = REPEATABLE-READ
sysdate_is_now = 1
engine_condition_pushdown = 1

binlog_format = ROW
#expire_logs_days = 3
#sync_binlog = 0

query_cache_type = 0
query_cache_size = 0

max_allowed_packet = 20M
#net_buffer_length = 2K

tmp_table_size = 32M
max_heap_table_size = 32M
table_open_cache = 512

max_connections=256
thread_cache_size = 256
thread_stack = 256K
sort_buffer_size = 256K
read_buffer_size = 256K
read_rnd_buffer_size = 256K
#join_buffer_size =

# enterprise thread pool
#plugin-load=thread_pool=thread_pool.so;TP_THREAD_STATE=thread_pool.so;TP_THREAD_GROUP_STATE=thread_pool.so;TP_THREAD_GROUP_STATS=thread_pool.so

#
# InnoDB
#
innodb_strict_mode = 1

innodb_buffer_pool_size = 1G
# only takes effect if innodb_buffer_pool_size > 1GB
innodb_buffer_pool_instances = 1

innodb_log_files_in_group = 2
innodb_log_file_size = 1G
innodb_log_buffer_size = 8M

innodb_flush_method = O_DIRECT
innodb_flush_log_at_trx_commit = 2

innodb_data_file_path = ibdata1:10M:autoextend
innodb_file_per_table = 1
innodb_file_format = barracuda

innodb_purge_threads = 0
innodb_adaptive_flushing = 1
innodb_doublewrite = 0

innodb_max_dirty_pages_pct = 75
innodb_io_capacity = 200

innodb_thread_concurrency = 0
innodb_concurrency_tickets = 5000
innodb_thread_sleep_delay = 10000
innodb_spin_wait_delay = 6
innodb_lock_wait_timeout = 50

innodb_read_io_threads = 4
innodb_write_io_threads = 4

#
# GALERA
#

# Galera parallel applying, do not change
innodb_autoinc_lock_mode = 2
innodb_locks_unsafe_for_binlog = 1

# Full path to wsrep provider library or 'none'
wsrep_provider = /usr/lib/galera/libgalera_smm.so

wsrep_node_address=
# Provider specific configuration options
#wsrep_provider_options=

# Logical cluster name. Should be the same for all nodes.
wsrep_cluster_name = my_galera_cluster

# Group communication system handle
#wsrep_cluster_address="dummy://"

# Human-readable node name (non-unique). Hostname by default.
#wsrep_node_name=

# Address for incoming client connections. Autodetect by default.
#wsrep_node_incoming_address=

# How many threads will process writesets from other nodes
# (more than one untested)
wsrep_slave_threads = 1

# DBUG options for wsrep provider
#wsrep_dbug_option

# Generate fake primary keys for non-PK tables (required for multi-master
# and parallel applying operation)
wsrep_certify_nonPK=1

# Location of the directory with data files. Needed for non-mysqldump
# state snapshot transfers. Defaults to mysql_real_data_home.
#wsrep_data_home_dir=

# Maximum number of rows in write set
wsrep_max_ws_rows=131072

# Maximum size of write set
wsrep_max_ws_size=1073741824

# to enable debug level logging, set this to 1
wsrep_debug=0

# convert locking sessions into transactions
wsrep_convert_LOCK_to_trx=0

# how many times to retry deadlocked autocommits
wsrep_retry_autocommit=1

# change auto_increment_increment and auto_increment_offset automatically
wsrep_auto_increment_control=1

# replicate myisam
wsrep_replicate_myisam=1
# retry autoinc insert, which failed for duplicate key error
wsrep_drupal_282555_workaround=0

# enable "strictly synchronous" semantics for read operations
wsrep_causal_reads=0

# Command to call when node status or cluster membership changes.
# Will be passed all or some of the following options:
# --status  - new status of this node
# --uuid    - UUID of the cluster
# --primary - whether the component is primary or not ("yes"/"no")
# --members - comma-separated list of members
# --index   - index of this node in the list
#wsrep_notify_cmd=

##
## WSREP State Transfer options
##

# State Snapshot Transfer method
# ClusterControl currently DOES NOT support wsrep_sst_method=mysqldump
wsrep_sst_method = rsync

# Address on THIS node to receive SST at. DON'T SET IT TO DONOR ADDRESS!!!
# (SST method dependent. Defaults to the first IP of the first interface)
#wsrep_sst_receive_address=

# SST authentication string. This will be used to send SST to joining nodes.
# Depends on SST method. For mysqldump method it is root:<root password>
wsrep_sst_auth=root:

# Desired SST donor name.
#wsrep_sst_donor=

# Protocol version to use
# wsrep_protocol_version=

[MYSQL]
socket = /var/run/mysqld/mysqld.sock
default-character-set = utf8
no-auto-rehash

[mysqldump]
max-allowed-packet = 512M
default-character-set = utf8

[MYSQLD_SAFE]
pid-file = mysqld.pid
log-error = error.log
basedir = /usr/local/mysql
datadir = /var/lib/mysql
